{
    "env": {
      "node": true,
      "jest": true
      
    }
{
  "env": {
    "browser": true
  },
  
  "parserOptions": {
    "ecmaVersion": 6
  },
  
  "extends": "eslint:recommended",
  "globals": {
   
  },
  
  "rules": {
    "no-console": 0,
    "semi": 2
    
  }
}
