body,html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Beginning - Login Section */
.sociallogo {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 60%;
}
.loginPage {
  background-image: url("Images/phoneBackground.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
.loginform {
  display:block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin:auto;
  padding: 5px;
  text-align: center;
  width: 75%;
}
.loginLabel {
  display: flex;
}
.email-input,.password-input {
  background: #F2EFE9;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 35px;
  margin-bottom: 25px;
  margin-top: 8px;
  padding: 8px;
  width: 95%;
}
.loginError,.registerError {
  color: #F24141;
  box-sizing: content-box;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
.loginButton,.registerButton {
  background: #5BD9CC;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
  padding: 7px;
  width: 73%;
}
/* End - Login Section */
/* Beginning - Register Modal */
.registerEmail,.registerName,.registerPassword,.registerConfirmPassword,.acceptButtonProfile,.editedName {
  width: 100%;
  padding: 12px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}
.registerConfirm,.acceptButtonProfile,.deleteAcceptButton,.deleteCancelButton{
  width: 100%;
  background-color: #5BD9CC;
  color: rgb(12, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.registerConfirm:hover,.acceptButtonProfile:hover,.deleteAcceptButton:hover,.deleteCancelButton:hover {
  background-color: #2A2740;
  color: #FFFF;
}
.w3-modal,.w3-modal-content,.w3-container,.w3-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.registerPassword:invalid,.registerConfirmPassword:invalid {
  border: 1px solid #F24141;
}
.registerPassword:valid,.registerConfirmPassword:valid {
  border: 1px solid #5BD9CC;
}
.registerCorrectMessage,.enterContentMessage,.deleteConfirmationMessage,.deleteAcceptedMessage,.userProfileEditedMessage {
  text-align: center;
}
.correctRegisterImage,.correctDeletingImage {
  width: 30%;
}
/* End- Register Modal */
/* Beginning Timeline menu style */
.topnav {
  overflow: hidden;
  background-color: #5BD9CC;
  position: relative;
}
.topnav #myLinks {
  display: none;
  background: #5BD9CC;
  font-weight: bold;
}
#settingsButton {
  height: 51%;
}
.topnav a {
  /*color: white;*/
  padding: 14px 20px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}
.topnav a.icon {
  background: #5BD9CC;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:focus {
  background-color: #ddd;
  color: black;
}
.iconsShown {
  margin-left: 37px;
  margin-top: 5px;
  display: inline;
}
#profileIcon {
  margin-top: 15px;
  margin-right: 80px;
}
.timeLine {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
}
#port {
  width: 45%;
  display: inline;
  padding: 10%;
}
/* End- Timeline menu style */
/* Posts box style */
.posts, .publishedPosts, .edit {
  background-color: #E3E1DF;
  margin: 0% 8% 0% 8%;
  height: 20%;
  float: center;
}
#timelinePosted {
  margin-top: 10%;
}
.pubPost {
  box-sizing: content-box;
}
.publishedPosts {
  margin: 8% 8% 0% 8%;
  font-size: 15px;
  height: 20%;
  float: center;
  padding: 0% 2% 2% 2%
}
#name {
  padding-top: 7px;
}
.edit {
  margin-left: 8%;
  height: 60%;
}
 .date {
  margin-bottom: 0px;
}
#createPost{
  font-size: 15px;
}
#createPost textarea {
  padding: 2%;
  width: 84%;
  margin-top: 4%;
}
.postButtons {
  position: right;
  font-size: 12px;
  padding: 1%;
  float: right;
  margin: 0% 8% 2% 8%;
}
#privacyButton, .cancel {
  background-color: #2A2740;
  color: white;
  border-radius: 4px;
  padding: 1%;
  border-width: 2px;
  border-style: double;
}
.cancel {
  font-size: 12px;
  padding: .5%;
}
#postButton, .submit {
  background-color: #F28816;
  color: white;
  border-radius: 3px;
  border-width: 2px;
  border-style: double;
  text-align: center;
  }
 .submit {
    font-size: 12px;
    margin-left: 8%;
    margin-top: 1.5%;
  }
.postIcons {
display: inline;
}
.likeButton {
  margin-left: 8%;
  margin-right: 65%;
}
.likesCounter {
  margin-left: 8%;
  margin-right: 70%;
}
/* End timeline post box style */

/* Start - Modal profile user*/
.profileUserImage {
  text-align: center;
}
#bigLogout, #bigProfile, #editText, #bigContacts {
  display:none;
}
/* End - Modal profile user*/

@media screen and (min-width: 1024px) {
/*Beginning - time line*/
#toPost {
  float: center;
  font-size: 20px;
}
#postButton {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}
#postButton:hover {
 background-color: #c46d12;
 cursor: pointer;
}
.editButton {
  margin-right: -10px;
  width: 25px;
  margin-top: -5%;
}
.editButton:hover, .deleteButton:hover {
  width: 45px;
  padding: .5%;
  cursor: pointer;
}
.deleteButton {
  float: right;
  margin-right: 10%;
  width: 25px;
  margin-top: -2.5%;
}
.likeButton {
 width: 25px;
 margin-left: 10%;
 margin-top: 2%;
}
.likeButton:hover {
 width: 30px;
 cursor: pointer;
}
#likesCounter {
 font-size: 20px;
 margin-left: 3%;
}
.pubPost {
font-size: 20px;
margin-top: -2%;
}
.date {
padding: -10%;
margin-bottom: -1%;
}
#name {
padding-top: 1%;
}
#menuIcon {
display: none;
}
#profText {
display: block;
}
#editText {
display: block;
color: black;
}
#bigLogout, #bigProfile, #bigContacts {
display:inline;
float: left;
background-color: #5BD9CC;
padding: 2%;
border: none;
border-radius: 5px;
font-size: 17px;
}
#bigLogout:hover, #bigProfile:hover, #bigContacts:hover {
background-color: #49ada4;
color: black;
cursor: pointer;
}
#timelineLogo {
float: right;
margin-right: 4%;
width: 75px;
}
.edit {
width: 59em;
font-size: 20px;
}
.submit, .cancel {
font-size: 20px;
}
.submit:hover {
background-color: #c46d12;
cursor: pointer;
}
.cancel:hover {
background-color: #12111c;
cursor: pointer;
}
/* End - time line */

/* Beginning - Login Section */
.sociallogo {
  margin-bottom: 10px;
  width: 20%;
}
.loginform {
  width: 25%;
}

/* Beginning - Register Modal*/
.w3-modal-content {
  width: 450px;
  }
#signupForm {
  width: 50%;
  margin: auto;
}
/* End- Register Modal */

#mensaje {
  ;
}
}
